body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
   /* line-height: 32px; */
    background-color: #777;
  }
  
  a:link,a:visited,a:hover,a:active  {
    color: #ffffff;
}

.navbar {
  margin: 0 auto;
    padding: 0;
    width: 95%;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #4aaaa5;
  }

  .navbar-heading {
    background-color: #4aaaa5;
    border: 0;
  }

 .navbar-brand {
    background-color: #4aaaa5;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
  }

  .story-link-outer-div {
    background: #4aaaa5;
  }

  .story-link-inner-div {
    background: #4aaaa5;
    padding-left: 10px;
    padding-right: 10px;
  }

  .story-outter-div {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .story-inner-div {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

 #search-form {
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 0;
  }

  #main-story {
    margin: 0 auto;
      width: 95%;
      background-color: #ffffff;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 0px;
  }

  #main-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  #button-span {
    float: right;
    position:relative;
    bottom:5px;
    right:0px;
  }